@import "tailwindcss";
@reference "./styles/keyframes.css";
@custom-variant dark (&:where([data-pc-theme=dark], [data-pc-theme=dark] *));

@theme {
  /* Font */
  --font-sans: "Open Sans", sans-serif;

  /* Sizes */
  --text-f-h1: 48px;
  --text-f-h2: 44px;
  --text-f-h3: 26px;
  --text-f-h4: 20px;
  --text-f-h5: 18px;
  --text-f-h6: 14px;

  --spacing-header-height: 74px;
  --spacing-topbar-height: 60px;
  --spacing-sidebar-width: 264px;
  --spacing-sidebar-collapsed-width: 80px;
  --spacing-sidebar-collapsed-active-width: 300px;
  --spacing-sidebar-tab-width: 75px;
  --spacing-sidebar-tab-navbar-width: 320px;

  --shadow-sidebarshadow: 1px 0 20px 0 #3f4d67;
  --shadow-lightsidebarshadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);

  /* Theme Colors */
  --color-theme-bodybg: #f4f7fa;
  --color-theme-bodycolor: #888;
  --color-theme-headings: #1d2630;
  --color-theme-border: #f1f1f1;
  --color-theme-secondarytextcolor: rgba(33, 37, 41, 0.75);

  --color-theme-inputbg: #fff;
  --color-theme-cardbg: #fff;
  --color-theme-inputborder: #bec8d0;

  --color-theme-sidebarbg: #3f4d67;
  --color-theme-sidebarcolor: #a9b7d0;
  --color-theme-sidebarcaption: #e8edf7;

  --color-theme-headerbg: rgba(244, 247, 250, 0.7);
  --color-theme-headercolor: #5b6b79;
  --color-theme-activebg: #f3f5f7;

  --color-theme-lightsidebarbg: #fff;
  --color-theme-lightsidebarcolor: #3f4d67;
  --color-theme-lightsidebarcaption: #3f4d67;

  /* colores de fondo de badges */

  --color-theme-bg-1: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  --color-theme-bg-2: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%);
  --color-theme-bg-3: linear-gradient(
    207.92deg,
    #0398f2 11.42%,
    #38b9e7 106.55%
  );

  /* animations */

  --animate-jump7456: jump7456 0.5s linear infinite;
  --animate-shadow324: shadow324 0.5s linear infinite;

  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }

    25% {
      transform: translateY(9px) rotate(22.5deg);
    }

    50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }

    75% {
      transform: translateY(9px) rotate(67.5deg);
    }

    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow324 {
    0%,
    100% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.2, 1);
    }
  }

  /* === PRIMARY === */
  --color-primary: #04a9f5;
  --color-primary-50: #b3e6fe;
  --color-primary-100: #9fe0fd;
  --color-primary-200: #77d2fd;
  --color-primary-300: #4ec5fc;
  --color-primary-400: #26b8fb;
  --color-primary-500: #04a9f5;
  --color-primary-600: #0383be;
  --color-primary-700: #025d87;
  --color-primary-800: #01374f;
  --color-primary-900: #001118;
  --color-primary-950: #070b0d;

  /* === SECONDARY === */
  --color-secondary: #5b6b79;
  --color-secondary-50: #bec6ce;
  --color-secondary-100: #b2bcc5;
  --color-secondary-200: #9ba8b4;
  --color-secondary-300: #8394a2;
  --color-secondary-400: #6d8090;
  --color-secondary-500: #5b6b79;
  --color-secondary-600: #434f59;
  --color-secondary-700: #2b3239;
  --color-secondary-800: #131619;
  --color-secondary-900: #0b0d0f;
  --color-secondary-950: #040506;

  /* === SUCCESS === */
  --color-success: #1de9b6;
  --color-success-50: #c4f9ec;
  --color-success-100: #b2f7e6;
  --color-success-200: #8df4da;
  --color-success-300: #67f0ce;
  --color-success-400: #42edc2;
  --color-success-500: #1de9b6;
  --color-success-600: #12bc91;
  --color-success-700: #0d896a;
  --color-success-800: #085542;
  --color-success-900: #03221b;
  --color-success-950: #010907;

  /* === DANGER === */
  --color-danger: #f44236;
  --color-danger-50: #fee6e4;
  --color-danger-100: #fcd3d1;
  --color-danger-200: #faafaa;
  --color-danger-300: #f88b83;
  --color-danger-400: #f6665d;
  --color-danger-500: #f44236;
  --color-danger-600: #e51a0d;
  --color-danger-700: #b0140a;
  --color-danger-800: #7b0e07;
  --color-danger-900: #460804;
  --color-danger-950: #2b0502;

  /* === WARNING === */
  --color-warning: #f4c22b;
  --color-warning-50: #fdf4da;
  --color-warning-100: #fcefc6;
  --color-warning-200: #fae39f;
  --color-warning-300: #f8d879;
  --color-warning-400: #f6cd52;
  --color-warning-500: #f4c22b;
  --color-warning-600: #dca80b;
  --color-warning-700: #a67f09;
  --color-warning-800: #715606;
  --color-warning-900: #3c2d03;
  --color-warning-950: #211902;

  /* === INFO === */
  --color-info: #3ebfea;
  --color-info-50: #e4f6fc;
  --color-info-100: #d1f0fa;
  --color-info-200: #ace4f6;
  --color-info-300: #88d7f2;
  --color-info-400: #63cbee;
  --color-info-500: #3ebfea;
  --color-info-600: #18a8d8;
  --color-info-700: #1281a6;
  --color-info-800: #0d5a73;
  --color-info-900: #073241;
  --color-info-950: #041f27;

  /* === DARK === */
  --color-dark: #212529;
  --color-dark-50: #73818e;
  --color-dark-100: #6a7783;
  --color-dark-200: #58626d;
  --color-dark-300: #454e56;
  --color-dark-400: #333940;
  --color-dark-500: #212529;
  --color-dark-600: #191c1f;
  --color-dark-700: #121417;
  --color-dark-800: #0e0f11;
  --color-dark-900: #090a0b;
  --color-dark-950: #020303;

  /* tema oscuro */

  --color-themedark-bodybg: #212224;
  --color-themedark-bodycolor: #bfbfbf;
  --color-themedark-headings: rgba(255, 255, 255, 0.8);
  --color-themedark-border: #393b3f;
  --color-themedark-secondarytextcolor: #748892;

  --color-themedark-cardbg: #2b2c2f;
  --color-themedark-inputbg: #393b3f;
  --color-themedark-inputborder: #46484c;

  --color-themedark-sidebarbg: #2b2c2f;
  --color-themedark-sidebarcolor: #a9b7d0;
  --color-themedark-sidebarcaption: #e8edf7;

  --color-themedark-lightsidebarcolor: #a9b7d0;

  --color-themedark-headerbg: rgba(33, 34, 36, 0.7);
  --color-themedark-headercolor: #6f747f;
  --color-themedark-activebg: #282a2c;
}

.theme-bg-1 {
  background: var(--color-theme-bg-1);
}
.theme-bg-2 {
  background: var(--color-theme-bg-2);
}
.theme-bg-3 {
  background: var(--color-theme-bg-3);
}

.loader {
  @apply size-12 m-auto relative before:w-12 before:h-[5px] before:absolute before:top-[60px] before:left-0 before:rounded-full before:bg-primary before:animate-shadow324 after:w-full after:h-full after:absolute after:top-0 after:left-0 after:rounded after:bg-primary after:animate-jump7456;
}
